<hr/>
<h1>App Errors</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Serverity</th>
    <th>App name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody id="error_list">
  <% app_errors.each do |app_error| %>
    <tr>
      <td><%= app_error.title %></td>
      <td><%= app_error.description %></td>
      <td><%= app_error.serverity %></td>
      <td><%= app_error.app_name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

