<div class="ui inverted vertical menu full-height fixed ">
  <a class="item active" href="<%= root_path %>">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
</div>